@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400&display=swap');

html{
	/* scroll-behavior: smooth; */
}

body{
   font-family: 'Montserrat', sans-serif;
}

  
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

h2 {
	-webkit-animation: text 1s;
			  animation: text 1s;
}

h4 {
	font-size: 19px;
	line-height: 1.375em;
	color: black;
	font-weight: bolder; 
	margin-bottom: 10px;

}


.head{
	background-image: url(city/images/dsf.png);
	background-size: cover;
	height: 992px;
}

.test{
	opacity: 0.8;
	position: absolute;
	top: 0;
	right: 0;

}

.test img{
	width: 100%;
	/* opacity: 0.5; */
}

/* .navbar-nav{
   margin-left: 65px;
} */

.nav-link{
   letter-spacing: 0.03em;
	font-weight: 500;
}

.top-banner h2 {
	/* margin-bottom: 30px; */
	font-size: 72px;
	font-weight: 600;
}


.top-banner h3 {
	font-size: 32px;
	font-weight: 400;
}

.top-banner
{
	/* padding-top: 60px !important;
	padding-bottom: 60px !important; */
}



/* 608px */

.navbar-toggle{
	margin-left: auto;
	display: block;
	right: 0;
}

.navbar>div{
	display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
	 display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    /* justify-content: space-between; */
}

/* #top banner img */


.top-banner{
	/* background-color: #e7ebf1; */
}

.top-banner img{
	width: 100%;
	vertical-align: middle;
	/* transition: transform .5s; */
}

/* .top-img img:hover
{
	-ms-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
	-o-transform: scale(1.1);
	transition: transform .5s;

} */

.navbar{
	margin: auto;
	-webkit-box-shadow: none !important;
  	-moz-box-shadow: none !important;
  	box-shadow: none !important;

}

.navbar,
.top-banner>div,
.rewards,
#footer
{
	width: 88%;
}

.cont{
	width: 88%;
}

.cont h3{
	font-size: 55px;
}

.cont p{
	font-size: 24px;
}


/* .owl-carousel */

.owl-nav{
	background-color: #ff8100;
}

.rewards img{
	width: 100%;
}

.rewards{
	background-color: aqua !important;
}

.owl-item{
	background-color: #eaf2ff !important;
}

#footer{
	padding-top: 75px;
}

.captcha-fill{
	font-size: 12px;
	color: red;
}

.sm:not(:first-child){
	margin-top: 5px;
	/* background-color: #3fa46a; */
}

.aform{
	margin-left: 0px !important;
	margin-right: 0px !important;
}

.btn {
	padding: 14px 16px;
	border: none;
	border-radius: 8px;
	font-family: Montserrat,sans-serif;
	font-size: 18px;
	cursor: pointer;
	transition: all .5s;
	background: transparent;
	position: relative;
	letter-spacing: 0.4px;
	margin: auto;
	width: 75%;
}

.btn:focus {
 	outline: none;
}

.btn--1 {
  	background: #FF8100;
}
.btn--1:hover {
  	box-shadow: 0 0 1rem #ff8100;
}

.nav-link,
.sm a,
.right a
{
	position:relative;
	display: inline-block;
	color: black;
	background: linear-gradient(to right, #ef7f1a, #ef7f1a 50%,black 50%);
	background-clip: text;
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	-webkit-transition: background-position 275ms ease;
	transition: background-position 275ms ease;
	text-decoration: none;
	font-weight: 500;
}

.nav-link:hover,
.sm a:hover,
.right a:hover{
	background-position: 0 100%;
}

.left a
{
	position:relative;
	display: inline-block;
	color: silver;
	font-weight: 400;
	background: linear-gradient(to right, #ef7f1a, #ef7f1a 50%,silver 50%);
	background-clip: text;
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
	background-size: 200% 100%;
	background-position: 100%;
	-webkit-transition: background-position 275ms ease;
	transition: background-position 275ms ease;
	text-decoration: none;
}

.nav-link:hover,
.sm a:hover,
#footer a:hover{
	background-position: 0 100%;
}

.hr hr{
	height:1px;
	border-width:0;
	color:gray;
	background-color:gray
 }
 .hr ul{
	line-height: 2; 
	list-style-type: none; 
	margin-left: 0px; 
	padding-left: 0px;
 }

 .left a,
 .right ul, .right p
{
	list-style-type: none; 
	padding-left: 0px;
	color: silver !important;
   font-weight: 500;
}

.sm a{
   font-weight: 500;
}

a.tel{
	font-size: 20px;
	}

.five-two p{
	color: silver;
}


.footer{
   font-weight: 500;
   font-family: Montserrat;
   color: black;
}




@media screen and (max-width: 1366px){
	.text{
		font-size: 0.8em;
	}
h4, h5 {
   	font-size: 17px;
	}	

	#form{
		padding: 50px 70px;
	}	
}


@media screen and (min-width: 1500px){

		.captcha{
			width: 30%;
		}

		.logo{
			margin-left: auto;
			margin-right: 2px;
		}
}

@media screen and (max-width: 768px) {

	.logo{
		margin-left: auto;
		margin-right: 2px;
	}

	.spinner{
		margin: 0 4px 0 4px;
	}

	.logo img{
		height: 1.2em;
		width: 1.2em;
	}
	
	.logo p{
		font-size: 0.5em;
	}

	.logo small{
		font-size: 0.5em;
	}

	.captcha input+.checkmark {
		width: 1.5em;
		height: 1.5em;
  }

  .text{
	  font-size: 0.6em;
	  /* margin-left: 0.5em; */
  }

  .captcha{
	  width: 50%;
  }

  #form{
	background-color: white;
	padding: 50px 50px;
	}	
	.w-div{
		padding-left: 15px;
	}

	.btn{
		margin: 0 !important;
		width: 100%;
	}

}


@media screen and (max-width: 576px) {

	.main>form{
		padding: 0 4px;
	}

	#form {
		padding: 50px 35px;
  }

	.captcha{
		width: 76% !important;
	}

	.captcha{
		padding-right: 5px;
	}

	.form-check-label{
		font-size: 12px;
	}

	.w-div{
		padding-left: 15px;
	}

	.btn{
		margin: 0 !important;
		width: 100%;
	}

	.top-banner>div,
	#footer
	{
		
		width: 98%;
	}

	.top-banner{
		text-align: center;
	}

  .logo{
	margin-left: auto;
}
	.captcha input+.checkmark span {
		content: '';
		position: relative;
		margin-top: -3px;
		transform: rotate(45deg);
		width: .60em;
		height: 1em;
		opacity: 0;
	}

	.captcha input+.checkmark {
		width: 1.2em;
		height: 1.2em;
	}
	.text {
		/* margin:.3em !important; */
		text-align:center;
		margin-left: 0;
	}
	.logo {
		align-self: center !important;
	}
	.spinner {
		/* margin:2em .5em .5em .5em!important; */
}

}


@media screen and (min-width: 1024px){
	.navbar-nav{
		margin-left: 75px;
	}

	.nav-link {
		margin-left: 15px;
	}	
}
	